[Unit]
Description=mount android parts
After=systemd-remount-fs.service local-fs.target
Before=lxc-android.service

[Service]
Type=oneshot
ExecStart=/usr/lib/lxc-android/mount-android

[Install]
RequiredBy=local-fs.target
