[Unit]
Description=Droid mount for /system
Before=local-fs.target systemd-modules-load.service

[Mount]
What=/system_root/system
Where=/system
Type=overlay

# Default is 90 which makes mount period too long in case of
# errors so drop it down a notch.
TimeoutSec=10

[Install]
WantedBy=local-fs.target

# From ./out/target/product/cosmopda/root/fstab.mt6771 :
# /dev/mmcblk0p33 / ext4 ro wait,verify,recoveryonly
