[Unit]
Description=Mount android-rootfs.img
Before=lxc-android.service

[Mount]
What=/var/lib/lxc/android/android-rootfs.img
Where=/var/lib/lxc/android/rootfs
Options=ro,noatime

# Default is 90 which makes mount period too long in case of
# errors so drop it down a notch.
TimeoutSec=10

[Install]
WantedBy=local-fs.target
