[Unit]
Description=WLAN Assistant
After=lxc-android.service
Before=wlan-module.service

[Service]
Type=basic
Restart=always
ExecStart=/vendor/bin/wlan_assistant

[Install]
WantedBy=multi-user.target
