Source: lxc-android
Priority: optional
Maintainer: TheKit <nekit1000@gmail.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 3.9.8
Section: libs
Homepage: https://github.com/gemian/lxc-android

Package: lxc-android
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, lxc, gemian-system
Description: lxc configuration for starting android
 .
 This package provides the configuration for starting android in lxc
